
html{
   scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: auto;
}

/* header style */
.navbar-brand img{
    max-width: 314px;
    max-height: 314px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button.navbar-toggler {
    border: 2px solid;
    padding: 0.15rem 0.5rem;
    font-size: 20px;
    outline: none;
    
}
button.navbar-toggler:focus {
    box-shadow: none;
    
}
button.navbar-toggler .bar-icon{
    font-size: 20px;
}

.nav-item{
    font-size: 16px;
    min-height: 30px;
    /* position: relative; */

}
.nav-item:before {
  content:"";
  position:absolute;
  top:50%;
  left:0;
  height: 100%;
  width: 0;
  transition: .3s;
  background-color: #000;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: -1;
}
.nav-item:hover:before{
  width:100%;

}
a.nav-link {
    text-transform: capitalize;
}
.nav-item:hover > a{
  color:white;
}

.nav-item >  a , .dropdown-item {
    color: #494c4f;
    font-weight: 300;
}
.nav-link:focus {
    color: #000;
}
ul.dropdown-menu.show {
    border: none;
}

.dropdown-item:hover {
    color: white;
    background-color: #000;
}
ul.dropdown-menu.show {
    padding-top: 0;
    margin-top: 0;
}
ul.dropdown-menu.show li {
    display:flex;
    align-items: center;
    min-height: 35px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-size: 13px;
}
ul.dropdown-menu.show li:hover {
    background-color: #000;
   
}
a.dropdown-item {
    margin-left: 7px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
@media (min-width:1200px) {
    .navbar-brand img {
        max-width: 380px;
        max-height: 380px;
    }
}
@media (max-width: 992px){
    .navbar-brand img {
        max-width: 240px;
        max-height: 240px;
    }
    .nav-item{
        min-height: 40px;
        flex-direction: column;
    }
    .nav-item a{
        text-transform: uppercase;
    }
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        position: fixed;
        width: 100vw;
        background-color: white;    
        left: 0; 
        z-index: 1;
    }
    ul.dropdown-menu.show {
        width: 100vw;
        text-align: center;
        margin-bottom: -4px;
    }
    ul.dropdown-menu.show li {    
        font-size: 15px;
    }
    ul.dropdown-menu.show li a {
        font-size: 13px;
    }
    
}


 @media (max-width: 575px){
    .navbar-brand img {
        max-width: 170px;
        max-height: 170px;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right:5px; 
        padding-left: 5px;
    }
    .navbar-nav{
        gap:5px
    }
}

/* info section style */
.info{
    color: #494c4f;
    padding : 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}
.info-icon {
    font-size: 25px;
}
.info-text {
    text-align: center;
}
.info-text span {
   font-size: 26px;
   font-weight: 400;
}

.slider{
    /* background-image:url("../images/slider/Booking-banner3.png"); */
    /* background-image:url("https://danneundorf.com/wp-content/uploads/2022/03/IMG_6015.jpg");
    background-image:url("https://danneundorf.com/wp-content/uploads/2022/03/Booking-banner3.jpg");
    background-image:url("https://danneundorf.com/wp-content/uploads/2022/03/imgl623568-2.jpg"); */
    
    background-image:url("https://danneundorf.com/wp-content/uploads/2022/03/IMG_601345-2.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 300px;
    width:100%;
}
.slider::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #040219;
    opacity: .7;
    z-index: -1;
}
.info-text p a {
    color: #494c4f;
    text-decoration: none;
 }
.info-text p a:hover {
    color:rgba(255, 0, 0, 0.762);
 }
@media (max-width:767px){
    .info-text span {
        font-size: 23px;
    }
}
@media (max-width:575px){
    .info-text span {
        font-size: 18px;
    }
}
@media (max-width:375px){
    .info-text span {
        font-size: 15px;
    }
}

/* services section style */
.services{
    padding: 50px;
    background-image:url("../images/Dr-Dan-Neundorf-logo2-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    z-index: 1;
    text-align: center;
    
}
.services-head{
    font-weight: 400;
}
.services:after {
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #2E2D38;
    z-index: -1;
    opacity: 0.93;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -moz-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -ms-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -o-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.services-content{
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.services-item {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
   
}
.service-item-head {
    margin-bottom: 0;
}
.services-item img{
    max-width: 100%;
}
.coach img{
    width: 40%;
}
.work-shop img{
    width: 71%;
    margin-top: 24px;
}
.career img{
    width: 40%;
    margin-top: 22px;
}
@media (max-width:992px){
    .services-content{
        flex-direction: column;
    }
    .work-shop img{
        width: 50%;
        
    }
}

/* meet section style */
.meet{
    background-color: #F5F5F7;
    padding:30px 0;
}
.meet-img , .meet-desc , .meet-desc-item{
    flex:1;
}
.meet-head {
    font-weight: 400;
    margin-left: 20px;
}
.meet-dec-group{
    gap: 10px;
}
.meet-desc-item{
    font-size: 13px;
    height: 270px;
   
}
.meet-desc-item img{
    max-width: 100%;
    width:60%;
}
@media (min-width: 1200px)  {
    .meet-desc-item{
        height: 200px;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .meet-desc-item{
        height: 250px;
    }
}

@media (max-width: 767px){
    .meet-head{
        text-align: center;
    }
    .meet-desc-item{
        width: 350px;
        font-size: 15px;
    }
   
    
}
@media (max-width: 575px){
    .meet-desc-item{
        /* font-size: 13px; */
        width: 250px;
    }
}

/* start why section */
.why{
    padding: 30px;
}
.why-head{
    font-size: 30px;
    color:#767676;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
/* .why-slider {
    border: 1px solid;
} */
div#carouselExampleDark {
    border: 1px solid;
    min-height:400px;
}
.carousel-inner {
    margin:30px auto;
    width:80%;
    
}
.reviewer{
    gap:10px;
    height:200px;
}
.reviewer img{
    max-width:100%;
    width:100px;
    height:100px;
}
.carousel-item > p {
    font-size: 14px;
    font-style: italic;
}
@media (max-width:575px){
   .reviewer-info h5 , .reviewer-info p {
    text-align: center;
   }
}
.carousel-dark .carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.carousel-control-prev-icon , .carousel-control-next-icon {
    background: transparent ;
}

.carousel-control-next, .carousel-control-prev {
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    
}
button.carousel-control-next , button.carousel-control-next:hover , button.carousel-control-prev , button.carousel-control-prev:hover {
    color:#2E2D38;
}

/* strt footer style */
footer a{
    text-decoration: none;
}
.up-footer{
    padding: 50px;
    background-image:url("../images/Dr-Dan-Neundorf-logo2-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    z-index: 1;
    gap: 10px;
    text-align: center;
    
}
.up-footer-head{
    font-weight: 400;
}
.up-footer:after {
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #2E2D38;
    z-index: -1;
    opacity: 0.93;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -moz-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -ms-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    -o-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.up-footer p  {
    font-size: 14px;
}
.up-footer p a {
    color: white;
    text-decoration: none;
}
.down-footer{
    padding: 40px 20px 70px;
    background-color: #2E2D38; 
    color: white;
    gap:15px;
}
.down-footer img{
    width: 200px;
}
.down-right-footer , .down-left-footer{
    gap:15px;
}
.footer-icon {
    gap:10px;

}
@media (max-width:575px){
    .down-right-footer span {
        text-align: center;
    }
}